body {
  font-family: 'Exo 2', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 26px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(216, 159, 216, 0.5);
  color: rgb(242, 237, 243);
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
  color: #020202;
  margin-top: -20px;
}

.hero-section {
  height: 45vh;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
}

.hero-content {
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.parents-info-section {
  padding: 50px 0;
  background: rgb(242, 237, 243);
}

.parents-info-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.parents-info-section p {
  margin-bottom: 20px;
  text-indent: 20px;
}

.parents-info-section p {
  font-size: 20px;
  color: #020202;
}

.features-section {
  padding: 50px 0;
}

.feature-box {
  text-align: center;
  margin-bottom: 30px;
}

.feature-box i {
  font-size: 32px;
  color: #007bff;
  margin-bottom: 10px;
}

.trainers-section {
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 50px 0;
  background: rgb(242, 237, 243);
}

.trainer-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.h2-wrapper {
  margin: 50px;
}

.trainer-card:hover {
  transform: translateY(-5px);
}

.trainer-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.gallery-section {
  padding: 60px 30px;
  background: rgb(255, 255, 255);
  width: calc(100vw - 60px);
  margin: 0 auto;
}

.slider {
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  background: rgb(229, 216, 233);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slider .slick-slide {
  margin: 35px;
}

.slider__img {
  border-radius: 10px;
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
  font-size: 24px !important;
}

.slick-prev,
.slick-next {
  z-index: 10 !important;
  width: 40px !important;
  height: 40px !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.footer {
  padding: 50px 0;
  background-color: #343a40;
  color: white;
}

.social-links a {
  color: white;
  margin-right: 10px;
  transition: color 0.3s;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .gallery-section {
    padding: 30px 15px;
    width: calc(100vw - 30px); 
  }

  .slider {
    padding: 10px; 
  }

  .slider .slick-slide {
    width: calc(33.33% - 20px); 
    margin: 10px; 
  }

  .slider__img {
    max-width: 100%;
    max-height: 400px; 
    object-fit: contain; 
  }
  .social-links a {
    font-size: 30px; 
  }
}

@media (max-width: 768px) {

  .gallery-section {
    padding: 30px 15px;
    width: calc(100vw - 30px);
  }

  .slider {
    padding: 10px; 
  }

  .slider .slick-slide {
    margin: 10px;
  }

  .slider__img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  .trainer-card {
    margin-bottom: 20px; 
  }

  .footer {
    padding: 50px 0;
    background-color: #343a40;
    color: white;
    font-size: 16px; 
  }

  .footer p {
    margin-bottom: 10px;
  }

  .social-links a {
    color: white;
    margin-right: 10px;
    transition: color 0.3s;
    font-size: 25px;
  }
  
  .footer .col-md-4:first-child {
    margin-bottom: 30px;
  }

  .footer .col-md-4:nth-child(2) {
    margin-bottom: 30px; 
  }

  .footer {
    padding: 30px 0; 
  }

  .social-links a {
    font-size: 20px; 
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 30px 0; 
  }

  .social-links a {
    font-size: 25px; 
  }
}

.slick-slider {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery-section > div {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 auto !important;
}

.slick-arrow::before,
.slick-arrow:before {
  color: #000000 !important;
}
